{
    "prefix": "",
    "token": "bot token here",
    "sagiri_token": "sagiri token here",
    "host": "",
    "database": "",
    "password": "",
    "username": "",
    "SpotifyClientID": "",
    "SpotifyClientSecret": "",
    "SCID" : ""
}